<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function close(){
		alert("ASd");
		opener.window.reload();
		window.location.close();
	}
</script>
</head>
<body>
<form action="/inquire/inquireExpWrite" method="post" onsubmit = "close();">
<table width="600" align="center" border=1>
	<tr><td ><select name="inquireKind">
						<option value = "" disabled hidden selected>체험 내용을 선택해주세요.</option>
						<th:block th:each = "experienceDTO : ${experienceList}">
							<option th:value="${experienceDTO.expNum}">[[${experienceDTO.expName}]]</option>
						</th:block>
					</select></td>
		<td align="right"><input type="submit"  id="btnInsert" value="문의하기" /></td>
	</tr>
	<tr><th>제목</th>
		<td><input type="text" name="inquireTitle" required="required"/></td>
	</tr>
	<tr><th>내용</th>
		<td><textarea cols="50" rows="10" name="inquireContents" required="required"></textarea></td>
	</tr>	
</table>
</form>
</body>
</html>