### General Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders/

# Build artifacts
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs
*.log

# Target directories
target/
target/m2e-wtp/**
target/maven-status/**
target/surefire-reports/**
target/classes/static/upload/**


# Eclipse specific
.externalToolBuilders/
*.launch
.cproject
.factorypath
.buildpath
.project
.sts4-cache/

# Annotation processing
.apt_generated/
.apt_generated_test/

# Scala IDE
.cache-main
.scala_dependencies
.worksheet

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Crash logs
hs_err_pid*
replay_pid*

# Temporary and backup files
*~.nib
*~.lst
*~.MF

# Unnecessary artifacts
TeCheck1-0.0.1-SNAPSHOT
TeCheck1-0.0.1-SNAPSHOT.war
TeCheck1-0.0.1-SNAPSHOT.war.original

### End ###
src/main/resources/application.properties
src/main/resources/static/upload
.classpath
