<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DDL.mapper.BookMapper">
	<sql id="baseCalumns">
		BOOK_NUM, BOOK_DATE, BOOK_TIME, MEMBER_NUM, EXP_NUM, STORE_NUM, EMP_NUM, GOODS_NUM
	</sql>

	<insert id="bookInsert" parameterType="bookDTO">
		insert into book(<include refid="baseCalumns" />)
		values(#{bookNum}, #{bookDate}, #{bookTime}, #{memberNum}, #{expNum}, #{storeNum}, 'emp_100001', #{goodsNum})
	</insert>
	
	<select id="bookSelectMine" resultMap="bookStoreGoodsExpDTO" parameterType="string">
		select BOOK_NUM, BOOK_DATE, BOOK_TIME, MEMBER_NUM, b.EXP_NUM, b.STORE_NUM, EMP_NUM, b.GOODS_NUM
		, STORE_ADDR, STORE_ADDR_DETAIL, STORE_POST, STORE_TEL, STORE_NAME
		, GOODS_NAME, GOODS_KIND, GOODS_CONTENTS, EXP_CONTENTS, EXP_NAME
		from book b join goods g
		on b.goods_num = g.goods_num join store s
		on b.store_num = s.store_num join experience e
		on b.exp_num = e.exp_num
		where member_num = #{memberNum}
		ORDER BY BOOK_DATE DESC, BOOK_TIME DESC
	</select>
	
	<resultMap type="bookStoreGoodsExpDTO" id="bookStoreGoodsExpDTO">
	    <association property="bookDTO" javaType="bookDTO">
	        <id property="bookNum" column="BOOK_NUM" />
		    <result property="bookDate" column="BOOK_DATE" />
		    <result property="bookTime" column="BOOK_TIME" />
		    <result property="memberNum" column="MEMBER_NUM" />
		    <result property="expNum" column="EXP_NUM" />
		    <result property="storeNum" column="STORE_NUM" />
		    <result property="empNum" column="EMP_NUM" />
		    <result property="goodsNum" column="GOODS_NUM" />
	    </association>
	    <association property="storeDTO" javaType="storeDTO">
	        <id property="storeNum" column="STORE_NUM" />
		    <result property="storeAddr" column="STORE_ADDR" />
		    <result property="storeAddrDetail" column="STORE_ADDR_DETAIL" />
		    <result property="storePost" column="STORE_POST" />
		    <result property="storeTel" column="STORE_TEL" />
		    <result property="storeName" column="STORE_NAME" />
	    </association>
	    <association property="goodsDTO" javaType="goodsDTO">
	        <id property="goodsNum" column="GOODS_NUM" />
		    <result property="goodsName" column="GOODS_NAME" />
		    <result property="goodsKind" column="GOODS_KIND" />
		    <result property="goodsContents" column="GOODS_CONTENTS" />
		    <result property="goodsMainImage" column="GOODS_MAIN_IMAGE" />
		    <result property="goodsMainStoreImage" column="GOODS_MAIN_STORE_IMAGE" />
		    
	    </association>
	    <association property="experienceDTO" javaType="experienceDTO">
	        <id property="expNum" column="EXP_NUM" />
		    <result property="expContents" column="EXP_CONTENTS" />
		    <result property="expName" column="EXP_NAME" />
	    </association>
	</resultMap>
	
	<select id="bookSelectInfo" resultMap="bookStoreGoodsExpDTO">
		select BOOK_NUM, BOOK_DATE, BOOK_TIME, MEMBER_NUM, b.EXP_NUM, b.STORE_NUM, EMP_NUM, g.GOODS_NUM
		, STORE_ADDR, STORE_ADDR_DETAIL, STORE_POST, STORE_TEL, STORE_NAME
		, GOODS_NAME, GOODS_KIND, GOODS_CONTENTS, EXP_CONTENTS, EXP_NAME
		, GOODS_MAIN_IMAGE ,GOODS_MAIN_STORE_IMAGE
		from book b join goods g
		on b.goods_num = g.goods_num join store s
		on b.store_num = s.store_num join experience e
		on b.exp_num = e.exp_num
		where BOOK_NUM = #{bookNum} and MEMBER_NUM = #{memberNum}
	</select>
	
	<update id="bookUpdate" parameterType="bookDTO">
		update book set
		BOOK_DATE = #{bookDate}
		, BOOK_TIME = #{bookTime}
		, EXP_NUM = #{expNum}
		, STORE_NUM = #{storeNum}
		, GOODS_NUM = #{goodsNum}
		where BOOK_NUM = #{bookNum}
	</update>
	
	<delete id="bookDelete" parameterType="string">
		delete from book where BOOK_NUM = #{bookNum}
	</delete>
</mapper>