<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DDL.mapper.CommunityMapper">
	<sql id="communityColumns">
			COMM_NUM, MEMBER_NUM, COMM_DATE, COMM_TITLE, COMM_CONTENTS
	</sql>
	<insert id="communityWrite" parameterType="communityDTO">
			insert into community(<include refid="communityColumns"></include>)
			values(#{commNum}, #{memberNum}, sysdate, #{commTitle}, #{commContents}) 
	</insert>
	<select id = "communityListSelect">
			select rownum, <include refid="communityColumns"></include> from community order by comm_date
	</select>
	
	<select id = "communitySelectOne">
			select COMM_NUM, m.MEMBER_NUM, COMM_DATE, COMM_TITLE, COMM_CONTENTS , member_id from community c join members m 
			on  c.member_num = m.member_num 
			where comm_num = #{commNum}
	</select>
	<update id = "communityUpdate">
			update community set COMM_TITLE = #{commTitle}, COMM_CONTENTS = #{commContents} where COMM_NUM = #{commNum}
	</update>
	<delete id = "communityDelete">
			delete from community where COMM_NUM =#{commNum}
	</delete>
	<sql id="replyColumns">
			REPLY_NUM, REPLY_DATE, REPLY_CONTENT, MEMBER_NUM, COMM_NUM
	</sql>
	<insert id="insertReply" parameterType="CommunityReplyDTO">
		    INSERT INTO reply(REPLY_NUM, REPLY_DATE, REPLY_CONTENT, MEMBER_NUM, COMM_NUM, MEMBER_ID)
		    VALUES ((select nvl(max(REPLY_NUM),0) + 1  from reply) ,SYSDATE, #{replyContent}, #{memberNum}, #{commNum},#{memberId})
	</insert>
	
	<select id="communityReplyListSelect">
		select REPLY_NUM, REPLY_DATE, REPLY_CONTENT, MEMBER_NUM, COMM_NUM, r.member_id from reply r join members m 
		on r.member_id = m.member_id 
		where COMM_NUM = #{commNum}
	</select>
</mapper>