<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DDL.mapper.CommunityMapper">
<resultMap type="communityReplyMemberDTO" id="communityReplyMemberDTO">
	<association property="memberDTO" javaType = "memberDTO">
		<id column = "member_Num" property = "memberNum" javaType = "String" jdbcType = "VARCHAR"/>
		<result column="member_Id" property="memberId" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_Pw" property="memberPw" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_Name" property="memberName" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_Phone" property="memberPhone" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_Age" property="memberAge" javaType="Integer" jdbcType="BIGINT"/>
		<result column="member_Addr" property="memberAddr" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_AddrDetail" property="memberAddrDetail" javaType="String" jdbcType="VARCHAR"/> 
		<result column="member_Post" property="memberPost" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_Birth" property="memberBirth" javaType="Date" jdbcType="DATE"/>
		<result column="member_Regist" property="memberRegist" javaType="Date" jdbcType="DATE"/>
		<result column="gender" property="gender" javaType="String" jdbcType="CHAR"/>
		<result column="member_Email" property="memberEmail" javaType="String" jdbcType="VARCHAR"/>	
	</association>
	<association property="employeeDTO">
		<id column="emp_num" javaType="String" jdbcType="VARCHAR" property="empNum"/>
		<result column="emp_id" javaType="String" jdbcType="VARCHAR" property="empId"/>
	</association>
	<association property="communityReplyDTO" javaType = "communityReplyDTO">
		<id column = "member_Num" property = "memberNum" javaType = "String" jdbcType = "VARCHAR"/>
		<result column="reply_Num" property="replyNum" javaType="String" jdbcType="VARCHAR"/>
		<result column="reply_Date" property="replyDate" javaType="Date" jdbcType="DATE"/>
		<result column="reply_Content" property="replyContent" javaType="String" jdbcType="VARCHAR"/>
		<result column="community_Num" property="commNum" javaType="String" jdbcType="VARCHAR"/>
	</association>
</resultMap>


<resultMap type="communityMemberDTO" id="communityMemberDTO">
	<association property="memberDTO" javaType = "memberDTO">
		<id column = "member_Num" property = "memberNum" javaType = "String" jdbcType = "VARCHAR"/>
		<result column="member_Id" property="memberId" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_Pw" property="memberPw" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_Name" property="memberName" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_Phone" property="memberPhone" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_Age" property="memberAge" javaType="Integer" jdbcType="BIGINT"/>
		<result column="member_Addr" property="memberAddr" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_AddrDetail" property="memberAddrDetail" javaType="String" jdbcType="VARCHAR"/> 
		<result column="member_Post" property="memberPost" javaType="String" jdbcType="VARCHAR"/>
		<result column="member_Birth" property="memberBirth" javaType="Date" jdbcType="DATE"/>
		<result column="member_Regist" property="memberRegist" javaType="Date" jdbcType="DATE"/>
		<result column="gender" property="gender" javaType="String" jdbcType="CHAR"/>
		<result column="member_Email" property="memberEmail" javaType="String" jdbcType="VARCHAR"/>	
	</association>
	<association property="communityDTO" javaType = "communityDTO">
		<id column="COMM_NUM" property="commNum" javaType="String" jdbcType="VARCHAR"/>
		<result column = "MEMBER_NUM" property = "memberNum" javaType = "String" jdbcType = "VARCHAR"/>
		<result column="rownum" property="rownum" javaType="String"/>
		<result column="COMM_DATE" property="commDate" javaType="Date" jdbcType="DATE"/>
		<result column="COMM_TITLE" property="commTitle" javaType="String" jdbcType="VARCHAR"/>
		<result column="COMM_CONTENTS" property="commContents" javaType="String" jdbcType="VARCHAR"/>
	</association>
	<association property="employeeDTO" javaType = "employeeDTO">
		<id column = "emp_num" property = "empNum" javaType = "String" jdbcType = "VARCHAR"/>
		<result column="emp_id" property="empId" javaType="String"/>
	</association>
</resultMap>
	<sql id="communityColumns">
			COMM_NUM, MEMBER_NUM, COMM_DATE, COMM_TITLE, COMM_CONTENTS, EMP_NUM
	</sql>
	<insert id="communityWrite" parameterType="communityDTO">
		<if test="memberNum == null">
			insert into community(COMM_NUM, COMM_DATE, COMM_TITLE, COMM_CONTENTS, EMP_NUM)
			values(#{commNum}, sysdate, #{commTitle}, #{commContents} , #{empNum})
		</if>
		<if test="memberNum != null">
			insert into community(COMM_NUM, MEMBER_NUM, COMM_DATE, COMM_TITLE, COMM_CONTENTS)
			values(#{commNum}, #{memberNum}, sysdate, #{commTitle}, #{commContents})
		</if>
	</insert>

	
	<select id = "communitySelectOne" resultMap="communityMemberDTO">
			select COMM_NUM, m.MEMBER_NUM, COMM_DATE, COMM_TITLE, COMM_CONTENTS , 
			member_id,
			e.emp_num, emp_id
			 from community c left outer join members m 
			on  c.member_num = m.member_num 
			left outer join employees e
			on c.emp_num = e.emp_num
			where comm_num = #{commNum}
	</select>
	<update id = "communityUpdate">
			update community set COMM_TITLE = #{commTitle}, COMM_CONTENTS = #{commContents} where COMM_NUM = #{commNum}
	</update>
	<delete id = "communityDelete">
			delete from community where COMM_NUM =#{commNum}
	</delete>
	<sql id="replyColumns">
			REPLY_NUM, REPLY_DATE, REPLY_CONTENT, MEMBER_NUM, COMM_NUM
	</sql>
	<insert id="insertReply" parameterType="CommunityReplyDTO">
		<if test="memberNum != null">
		    INSERT INTO reply(REPLY_NUM, REPLY_DATE, REPLY_CONTENT, MEMBER_NUM, COMM_NUM)
		    VALUES (#{replyNum} ,SYSDATE, #{replyContent}, #{memberNum, jdbcType=VARCHAR}, #{commNum})
		</if>
		<if test="memberNum == null">
			INSERT INTO reply(REPLY_NUM, REPLY_DATE, REPLY_CONTENT, EMP_NUM, COMM_NUM)
		    VALUES (#{replyNum} ,SYSDATE, #{replyContent}, #{empNum}, #{commNum})
		</if>
	</insert>
	
	<select id="communityReplyListSelect" resultMap="communityReplyMemberDTO">
		select rownum, REPLY_NUM, REPLY_DATE, REPLY_CONTENT, m.MEMBER_NUM, r.emp_num, emp_id, COMM_NUM, m.member_id 
		from reply r left outer join members m
		on r.member_num = m.member_num
        left outer join employees e on
        r.emp_num = e.emp_num
		where COMM_NUM = #{commNum}
	</select>
	
	<select id="communityListSelect" resultMap="communityMemberDTO">
			select rownum, m.MEMBER_NUM, COMM_DATE, COMM_TITLE, COMM_NUM, COMM_CONTENTS, m.member_id, emp_id
			from community c left outer join members m 
			on c.member_Num = m.member_Num 
			left outer join employees e on c.emp_num = e.emp_num
	</select>
</mapper>