<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="DDL.mapper.CouponMapper">

	<resultMap type="couponDetailDTO" id="couponDetailDTO">
		<association property="couponDTO">
			<id column="coupon_num" javaType="String" jdbcType="VARCHAR" property="couponNum"/>
			<result column="coupon_name" javaType="String" jdbcType="VARCHAR" property="couponName"/>
			<result column="discount" javaType="Integer" jdbcType="BIGINT" property="discount"/>
		</association>
		
		<association property="memberCouponDTO">
			<id column="issue_num" javaType="String" jdbcType="VARCHAR" property="issueNum"/>
			<result column="coupon_num" javaType="String" jdbcType="VARCHAR" property="couponNum"/>
			<result column="member_num" javaType="String" jdbcType="VARCHAR" property="memberNum"/>
			<result column="coupon_start" javaType="date" jdbcType="DATE" property="couponStart"/>
			<result column="coupon_expire" javaType="date" jdbcType="DATE" property="couponExpire"/>
			<result column="emp_num" javaType="String" jdbcType="VARCHAR" property="empNum"/>
		</association>
	</resultMap>
	
	<insert id="couponInsert">
		insert into coupon(coupon_num, coupon_name, discount)
		values(#{couponNum}, #{couponName}, #{discount})
	</insert>
	
	<select id="couponListSelect">
		select coupon_num, coupon_name, discount from coupon
	</select>
	
	<select id="couponSelectOne">
		select coupon_num, coupon_name, discount from coupon where coupon_num = #{couponNum}
	</select>
	
	<update id="couponUpdate">
		update coupon set coupon_name = #{couponName}, discount = #{discount} where coupon_num = #{couponNum}
	</update>
	
	<delete id="couponDelete">
		delete from coupon where coupon_num = #{couponNum}
	</delete>
	
	<insert id="memberCouponWrite">
		insert into member_coupon(issue_num, coupon_num, member_num, coupon_start, coupon_expire, emp_num)
		values(#{issueNum}, #{couponNum}, #{memberNum}, #{couponStart}, #{couponExpire}, #{empNum})
	</insert>
	
	<select id="memberCouponSelectList" resultMap="couponDetailDTO">
		select c.coupon_num, coupon_name, discount,
		issue_num, member_num, coupon_start, coupon_expire, emp_num
		from coupon c join member_coupon mc
		on c.coupon_num = mc.coupon_num
	</select>
	
	<select id="memberCouponSelectOne" resultMap="couponDetailDTO">
		select c.coupon_num, coupon_name, discount,
		issue_num, member_num, coupon_start, coupon_expire, emp_num
		from coupon c join member_coupon mc
		on c.coupon_num = mc.coupon_num
		where issue_num = #{issueNum}
	</select>
	
	<update id="memberCouponUpdate">
		update member_coupon set coupon_start = #{couponStart}, coupon_expire = #{couponExpire} where issue_num = #{issueNum}
	</update>
	
	<delete id="memberCouponDelete">
		delete from member_coupon where issue_num = #{issueNum}
	</delete>
	
	<select id="myCouponListSelect" resultMap="couponDetailDTO">
		select c.coupon_num, coupon_name, discount,
		issue_num, member_num, coupon_start, coupon_expire, emp_num
		from coupon c join member_coupon mc
		on c.coupon_num = mc.coupon_num
		where member_num = #{memberNum}
	</select>
</mapper>