<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DDL.mapper.OrderMapper">
	<resultMap type="orderPurchaseListGoodsDTO" id="orderPurchaseListGoodsDTO">
		<association property="orderDTO">
		    <id property="orderNum" column="order_num" />
		    <result property="orderDate" column="order_date" />
		    <result property="orderPrice" column="order_price" />
		    <result property="deliveryAddr" column="delivery_addr" />
		    <result property="deliveryAddrDetail" column="delivery_addr_detail" />
		    <result property="deliveryAddrPost" column="delivery_addr_post" />
		    <result property="deliveryPhone" column="delivery_phone" />
		    <result property="message" column="message" />
		    <result property="orderStatus" column="order_status" />
		    <result property="memberNum" column="member_num" />
		</association>
		
		<collection property="purchaseListDTO" ofType = "purchaseListDTO">
			    <id property="orderNum" column="order_num" />
			    <id property="goodsNum" column="goods_num" />
			    <result property="purchaseQty" column="purchase_qty" javaType="Integer" />
			    <result property="goodsUnitPrice" column="goods_unit_price" javaType="Integer" />
		</collection>
		<collection property="goodsDTO" ofType = "goodsDTO">
				<id property="goodsNum" column="goods_num" />
			    <result property="goodsName" column="goods_name" />
			    <result property="goodsMainStoreImage" column="goods_main_store_image" />
		</collection>
	</resultMap>
	<insert id="orderInsert">
		insert into orders(ORDER_NUM, ORDER_DATE, ORDER_PRICE, DELIVERY_ADDR, DELIVERY_ADDR_DETAIL, DELIVERY_ADDR_POST, DELIVERY_PHONE, MESSAGE, ORDER_STATUS, MEMBER_NUM)
		values(#{orderNum}, sysdate, #{orderPrice}, #{deliveryAddr}, #{deliveryAddrDetail}, #{deliveryAddrPost},
				#{deliveryPhone}, #{message}, '결제 대기중', #{memberNum})
	</insert>
	
	
	<select id="getOrderNum">
		select concat(to_char(sysdate, 'yyyyMMdd'), coalesce(max(to_number(substr(order_num, 9))), 0) + 1)
		from orders
		where substr(order_num, 1, 8) = to_char(sysdate, 'yyyyMMdd')
	</select>
	
	<insert id="purchaseListInsert">
		insert all
	        <foreach collection="goodsNums" item="goodsNum" index="index">
	        into purchase_list(goods_num, order_num, purchase_qty, goods_unit_price)
	        values (#{goodsNum}, #{orderNum}, #{cartQties[${index}]}, (select goods_price from goods where goods_num = #{goodsNum}))
	   		</foreach>
	   		select * from dual
	</insert>
	
	<select id="orderSelectOne">
		select ORDER_NUM, ORDER_DATE, ORDER_PRICE, DELIVERY_ADDR, DELIVERY_ADDR_DETAIL, DELIVERY_ADDR_POST, DELIVERY_PHONE, MESSAGE, ORDER_STATUS, MEMBER_NUM
		from orders where order_num = #{orderNum}
	</select>
	
	<insert id="payInsert">
		insert into pay(order_num, confirmnumber, cardnum, tid, totalprice, resultmessage, 
					paymethod, appldate, apptime)
			values(#{orderNum}, #{confirmnumber}, #{cardnum}, #{tid}, #{totalprice}, #{resultmessage},
					#{paymethod}, #{appldate}, #{apptime})	
	</insert>
	
	<update id = "orderStatusUpdate">
		update orders set order_status = '결제 완료' where order_num = #{orderNum}
	</update>
	
	<select id="orderSelectByMemberNum" resultMap="orderPurchaseListGoodsDTO">
		select o.ORDER_NUM, ORDER_DATE, ORDER_PRICE, DELIVERY_ADDR, DELIVERY_ADDR_DETAIL, DELIVERY_ADDR_POST, DELIVERY_PHONE, MESSAGE, ORDER_STATUS, MEMBER_NUM,	
				pl.goods_num, purchase_qty, goods_unit_price,
				g.goods_name, g.goods_main_store_image
		from orders o join purchase_list pl on o.order_num = pl.order_num
		join goods g on pl.goods_num = g.goods_num 
		<if test="memberNum != null">
		where o.member_num = #{memberNum}
		</if>
	</select>
</mapper>