  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

  .board-list {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  .board-list table {
    width: 100%;
    border-spacing: 0;
  }

  .board-list thead th {
    background-color: rgb(0, 0, 160);
    color: #fff;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  .board-list tbody tr {
    transition: background-color 0.3s;
  }

  .board-list tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .board-list tbody tr:nth-child(odd) {
    background-color: #fff;
  }

  .board-list tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
  }

  .board-list th, .board-list td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .board-list tbody td:nth-child(2) {
    text-align: left;
    color: #007bff;
    font-weight: 500;
  }

  .board-list tbody td:nth-child(2):hover {
    text-decoration: underline;
  }

  .board-list tbody td {
    color: #555;
  }

  .board-list tbody td:first-child {
    font-weight: bold;
  }

  .board-list tbody td:last-child {
    font-weight: bold;
    color: #28a745;
  }

  .board-list caption {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
