<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/static/js/apexcharts.js"></script>
<script>
function connect() {
	ws = new WebSocket("ws://172.16.105.174:10120");
	ws.onopen = onOpen;
	ws.onmessage = onMessage;
	ws.onclose = onClose;
}
function appendMessage(msg){
	$("#chatMessageArea").append(msg + "<br />");
	var chatAreaHeight = $("#chatArea").height();
	var maxScroll = $("#chatMessageArea").height() - chatAreaHeight
	$("#chatArea").scrollTop(maxScroll);
}
function onOpen(evt){
	appendMessage("연결되었습니다.");
}
function onMessage(evt){
	console.log(evt);
	var data = evt.data;
	appendMessage(data);
}
function onClose(evt){
	appendMessage("연결을 끊었습니다.");
}
function  disconnect(){
	ws.close();
}
$(function(){
	connect();
	
    const exampleData = [
      {
        x: new Date(2023, 10, 1),
        y: [100, 110, 90, 105], // open, high, low, close
      },
      {
        x: new Date(2023, 10, 2),
        y: [105, 120, 100, 115],
      },
      {
        x: new Date(2023, 10, 3),
        y: [115, 125, 110, 120],
      },
      {
          x: new Date(2023, 10, 4),
          y: [115, 125, 110, 120],
        },
    ];

    const options = {
            chart: {
              type: 'candlestick',
              height: 350,
              toolbar: {
                show: false, // 상단 옵션 제거
              },
              zoom: {
                enabled: false, // 확대/축소 비활성화
              },
              events: {
                mouseMove: function (event, chartContext, config) {
                  // 마우스 이동 조작도 비활성화
                  return false;
                },
                mouseClick: function (event, chartContext, config) {
                  // 마우스 클릭도 비활성화
                  return false;
                },
              },
            },
            series: [
              {
                data: exampleData,
              },
            ],
            xaxis: {
                labels: {
                  formatter: function (value) {
                    // 날짜를 YYYY-MM-DD 형식으로 변환
                    const date = new Date(value);
                    return date.toLocaleDateString('ko-KR'); 
                  },
                },
              },
            plotOptions: {
              candlestick: {
                colors: {
                  upward: '#DF7D46',
                  downward: '#3C90EB',
                },
              },
            },
          };

          const chart = new ApexCharts(document.querySelector("#chart"), options);
          chart.render();
    });
</script>

</head>
<body>
<h1>주식</h1>
<div id="chart"></div>

<div id="chatArea">
	<div id="chatMessageArea"></div>
</div>
</body>
</html>