<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/static/js/apexcharts.js"></script>
<script src="/static/js/stock.js"></script>
<script th:inline="javascript">
    var stockList = /*[[${stockList}]]*/ [];
</script>
</head>
<body>
<h1>주식</h1>
<h3>일간 실시간 데이터</h3>
<div id="chart" style = "width : 500px;"></div>
<div id = "dateTable">
	<table border = "1">
		<tr>
			<th>날짜</th>
			<th>종가</th>
			<th>등락률</th>
			<th>거래량</th>
			<th>거래대금</th>
		</tr>
		
		<tr th:each="dto : ${reversedList}">
		    <td>[[${#dates.format(dto.tradeDate, 'yyyy-MM-dd')}]]</td>
		    <td>[[${#numbers.formatCurrency(dto.endPrice)}]]</td>
		    <td>[[${dto.rateOfChange}]]%</td>
		    <td>[[${dto.totalVolume}]]</td>
		    <td>[[${#numbers.formatCurrency(dto.totalPrice)}]]</td>
		</tr>

	</table>
</div>
<div id="chatArea">
	<div id="chatMessageArea"></div>
</div>
</body>
</html>